@model SIS758.Models.Registrarpa
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/cliente.cshtml";
}

<h2>Registrar</h2>
@using (Html.BeginForm())
{ 
    <fieldset>
        <legend><h5>REgistrar Ciudad</h5></legend>
        <table>
        <td></td>
        </table>
    </fieldset>
}